html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdfdfd;
  color: #201010;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

img {
  max-width: 100%;
}

.navBar {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #006e84;
}

.navTitle {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-decoration: none;
  color: #ffffff;
}

.navBar a,
button {
  min-width: 48px;
  min-height: 48px;
}

.google-maps {
  width: 100%;
  height: 45vh;
}

.restaurantsFilter {
  height: 2.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #006e84;
}
.restaurantsFilter select {
  width: calc(50% - 1em);
  height: 1.75rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  outline: none;
}

.restaurantCards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurantCard {
  min-width: 14.8rem;
  width: 100%;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 2px;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3),
    0px 3px 3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(250, 250, 250);
}

.cardTitle {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.4em;
  font-weight: 500;
  padding: 0.5em 1rem 8px 1rem;
  margin-top: 0.5em;
  background-color: #006e84;
  color: #fff;
}

.card > h3 {
  padding: 0 1rem;
}

.cardTown {
  padding: 0 1rem;
}

.cardContent {
  padding: 0.5em 1em;
  font-size: 1.05em;
}

.cardActions {
  min-width: 48px;
  min-height: 52px;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardActionsLink {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs {
  width: 100%;
  min-width: 48px;
  min-height: 52px;
  margin: 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #006e84;
}

.cardSecondary {
  padding: 0 1rem 8px 1rem;
}

.breadcrumb {
  list-style-type: none;
  font-weight: 300;
  color: #fff;
}

.breadcrumb + .breadcrumb:before {
  padding: 1px;
  content: ' > ';
}

.linkBreadcrumb {
  min-width: 3rem;
  min-height: 3rem;
  text-decoration: none;
  color: #fff;
}

.restaurantDetails {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.restaurantDetailMap {
  width: 50%;
  min-height: 25vh;
  flex: 1;
}

.google-maps-enlarged {
  width: 100%;
  height: 100%;
}

.restaurantDetailTitle {
  width: 100%;
  margin: 0.75rem;
  padding-left: 0.25rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.restaurantCard {
  width: 50%;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #fff;
}

.restaurantCuisine {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #006e84;
}

.cardSecondary {
  padding: 0 1rem 8px 1rem;
}

.restaurantCuisineContent {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #fff;
}

.restaurantOpenTime {
  padding: 1rem;
}

.restaurantTableContent {
  font-size: 0.88rem;
  line-height: 1.1rem;
  font-style: normal;
}

.reviewsTitle {
  margin: 0.75rem;
  padding-left: 0.25rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.reviewCards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.reviewCard {
  min-width: 238px;
  width: 100%;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 2px;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3),
    0px 3px 3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(250, 250, 250);
}

.reviewCardRating {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #006e84;
}

.reviewCardRatingContent {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footerContent {
  padding: 1rem;
  font-size: 0.75rem;
  color: #000;
}

.footerLink {
  text-decoration: none;
  color: #000;
}

#reviews-container > h3 {
    text-align: center;
}

#restaurant-review-form {
  margin-bottom: 30px;
}

#review-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#review-form input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid black;
}

#review-form select {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid black;
}

#review-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid black;
}

#review-form input[type="submit"] {
  height: 35px;
  font-size: 14px;
  background-color: #185a8e;
  color: #fff;
  border: 0;
}

.restaurant-fav-icon {
  height: 32px;
  width: 32px;
  margin-top: 3px;
  margin-right: 8px;
}

@media screen and (max-width: 29.9em) {
  .wrapper {
    max-width: 29.9rem;
  }
  .restaurants-list {
    flex-direction: column;
  }
  .restaurantsFilter {
    height: 4.75rem;
    flex-direction: column;
  }
  .restaurantsFilter select {
    width: 90%;
    width: calc(100% - 1em);
  }
  .restaurantCard {
    width: 100%;
  }
  .restaurantDetailMap {
    width: 100%;
    height: 30vh;
  }
}

@media screen and (min-width: 30rem) and (max-width: 37.4rem) {
  .wrapper {
    max-width: 37.4rem;
  }
  .restaurantsFilter select {
    width: calc(50% - 1em);
  }
  .restaurantCard {
    margin: 1rem;
  }
  .restaurantCard {
    width: 100%;
  }
  .restaurantDetailMap {
    width: 100%;
    height: 35vh;
  }
}

@media screen and (min-width: 37.5rem) and (max-width: 52.4rem) {
  .wrapper {
    max-width: 52.4rem;
  }
  .restaurants-filter select {
    width: calc(45% - 1em);
  }
  .restaurantCard {
    width: 45%;
  }
  .reviewCard {
    width: 45%;
  }
}

@media screen and (min-width: 52.5rem) and (max-width: 59.99rem) {
  .wrapper {
    max-width: 59.99rem;
  }
  .restaurants-filter select {
    width: calc(40% - 1em);
  }
  .restaurantCard {
    width: 45%;
  }
  .reviewCard {
    width: 45%;
  }
}

@media screen and (min-width: 60rem) and (max-width: 79.9rem) {
  .wrapper {
    max-width: 79.9rem;
  }
  .restaurants-filter select {
    width: calc(35% - 1em);
  }
  .restaurantCard {
    width: 30%;
  }
  .reviewCard {
    width: 30%;
  }
}

@media screen and (min-width: 80rem) {
  .restaurants-filter select {
    width: calc(30% - 1em);
  }
  .restaurantCard {
    width: 22.5%;
  }
  .restaurantTableContent {
    font-size: 0.92rem;
  }
  .reviewCard {
    width: 30%;
  }
}
